$color-black: #000;
$color-lighter-white: rgba(255,255,255,.6);
$color-white: white;
$color-lighter-pink: #e3207b;
$color-pink: #bb0057;
$color-before: rgba(0,0,0,.4);
$color-liblack: #343a40;
$color-main: #222831;
$color-p: rgba(255,255,255,.5);
$color-dark: #13171d;
$color-lighter-grey: #ccc;
$color-before-pink: rgba(227,32,123,.8);



//sizes
$width-container: 1140px;
$font-size-nunito: 1rem;
$font-size-oswald: 1rem;
$border-radius: 0.25rem;
$section-padding: 7em 0;
$header-margin-bottom: 3rem;



//fonts
    
    $font-oswald: 'Oswald', sans-serif;
    $font-nunito: 'Nunito Sans', sans-serif;
